{% extends'empty.html.twig'%}

{% block body%}

    <div class="col-md-12">
        <div class="col-middle">
            <div class="text-center text-center">
                <h1 class="error-number">403</h1>
                <h2>{{ "Access denied" | trans}}</h2>
                <p>{{ "Ez duzu baimenik ekintza hau burutzeko" | trans}}</a></p>
                <a class="btn btn-primary" href="#" onclick="history.go(-1)">{{ "Itzuli" | trans}}</a>
            </div>
        </div>
    </div>

{% block footer %}{% endblock%}

{% endblock %}
